# Week 2 - Monday Lesson (variable assignment, loops, lists)

## Tasks Today:

1) Int & Float assignments <br>
 &nbsp;&nbsp;&nbsp;&nbsp; a) Assigning int <br>
 &nbsp;&nbsp;&nbsp;&nbsp; b) Assigning float <br>
 &nbsp;&nbsp;&nbsp;&nbsp; c) Performing Calculations on ints and floats <br>
 &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; - Addition <br>
 &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; - Subtraction <br>
 &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; - Multiplication <br>
 &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; - Division <br>
 &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; - Floor Division <br>
 &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; - Modulo <br>
 &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; - Exponential <br>
2) String Input-Output <br>
 &nbsp;&nbsp;&nbsp;&nbsp; a) String Assignment <br>
 &nbsp;&nbsp;&nbsp;&nbsp; b) print() <br>
 &nbsp;&nbsp;&nbsp;&nbsp; c) String Concatenation <br>
 &nbsp;&nbsp;&nbsp;&nbsp; d) Type Conversion <br>
 &nbsp;&nbsp;&nbsp;&nbsp; e) input() <br>
 &nbsp;&nbsp;&nbsp;&nbsp; f) format() <br>
 &nbsp;&nbsp;&nbsp;&nbsp; g) Old Way (python 2) <br>
3) <b>In-Class Exercise #1</b> <br>
4) If Statements <br>
 &nbsp;&nbsp;&nbsp;&nbsp; a) 'is' keyword <br>
 &nbsp;&nbsp;&nbsp;&nbsp; b) 'in' keyword <br>
 &nbsp;&nbsp;&nbsp;&nbsp; c) 'not in' keyword <br>
5) <b>In-Class Exercise #2</b> <br>
6) Elif Statements <br>
7) Else Statements <br>
8) <b>In-Class Exercise #3</b> <br>
9) For Loops <br>
 &nbsp;&nbsp;&nbsp;&nbsp; a) Using 'in' keyword <br>
 &nbsp;&nbsp;&nbsp;&nbsp; b) Continue Statement <br>
 &nbsp;&nbsp;&nbsp;&nbsp; c) Break Statement <br>
 &nbsp;&nbsp;&nbsp;&nbsp; d) Pass Statement <br>
 &nbsp;&nbsp;&nbsp;&nbsp; e) Double For Loops <br>
10) While Loops <br>
 &nbsp;&nbsp;&nbsp;&nbsp; a) Looping 'While True' <br>
 &nbsp;&nbsp;&nbsp;&nbsp; b) While and For Loops Used Together <br>
11) Built-In Functions <br>
 &nbsp;&nbsp;&nbsp;&nbsp; a) range() <br>
 &nbsp;&nbsp;&nbsp;&nbsp; b) len() <br>
 &nbsp;&nbsp;&nbsp;&nbsp; c) help() <br>
 &nbsp;&nbsp;&nbsp;&nbsp; d) isinstance() <br>
 &nbsp;&nbsp;&nbsp;&nbsp; e) abs() <br>
12) Try and Except <br>
13) Lists <br>
 &nbsp;&nbsp;&nbsp;&nbsp; a) Declaring Lists <br>
 &nbsp;&nbsp;&nbsp;&nbsp; b) Indexing a List <br>
 &nbsp;&nbsp;&nbsp;&nbsp; c) .append() <br>
 &nbsp;&nbsp;&nbsp;&nbsp; d) .insert() <br>
 &nbsp;&nbsp;&nbsp;&nbsp; e) .pop() <br>
 &nbsp;&nbsp;&nbsp;&nbsp; f) .remove() <br>
 &nbsp;&nbsp;&nbsp;&nbsp; g) del() <br>
 &nbsp;&nbsp;&nbsp;&nbsp; h) Concatenating Two Lists <br>
 &nbsp;&nbsp;&nbsp;&nbsp; i) Lists Within Lists <br>
 &nbsp;&nbsp;&nbsp;&nbsp; j) Looping Through Lists <br>

### Int & Float Assignments

##### Assigning int - Integer types are whole numbers

In [ ]:
num = 4
print(type(num))

##### Assinging float - Float types are decimals

In [ ]:
afloat = 4.0
print(type(afloat))

#### Performing Calculations on ints and floats

##### Addition (+)

In [ ]:
total = 5 + 10
print(total)

num1 =5 
num2 = 6

total = num1 + num2
print(total)

total = 5 + 10.0
print(total)


total += 5 # total = total + 5
print(total)

##### Subtraction (-)

In [ ]:
diff = 10 - 5
print(diff)

diff = 10 - 5.0
print(diff)

diff -= 2
print(diff)

##### Multiplication (*)

In [ ]:
prod = 11 * 2
print(prod)

prod *= 3.4
print(int(prod))

##### Division (/)

In [ ]:
quot = 15 / 3
print(quot)

quot /= 5
print(quot)

##### Floor Division (//) - Normal division but returns the largest possible integer

In [ ]:
quot = 19 // 2
print(quot)

##### Modulo (%) - Returns the remainder of division

In [ ]:
remainder = 10 % 2
print(remainder)

##### Exponential (**)

In [ ]:
square = 5**2
print(square)

sqroot = 25**.5
print(sqroot)

### String Input-Output

##### String Assignment

In [ ]:
name = "Dylan's"

print(name)

last = 'Katina\\ns'
print(last)

##### print() <br>
<p>Don't forget about end=' '</p>

In [ ]:
print("this is a line")
print("this is another line")

##### String Concatenation

In [ ]:
aword = 'hello'
bword = 'there'

total = aword + ' ' + bword
print(total)

repeat = 'hello'*3
print(repeat)

##### Type Conversion

In [ ]:
string_num = 'onetwothree'
print(type(string_num))
num = int(string_num)
print(type(num))
afloat = float(string_num)
print(type(afloat))

##### input()

In [ ]:
# name = input("Whate is your name: ")
# print('Hello ' + name)
age = int(input("How old are you? "))
print(type(age))
# print("You are " + age + ' that awesome!')

##### format()

In [ ]:
age = input("How old are you? ")
name = 'Dylan'

# result = "Wow {}, your are {}, that's awesome!".format(age, name)
# print(result)

result = f"Wow {name}, your are {age}, that's awesome!"
print(result)

# In-Class Exercise 1 <br>
<p>Create a format statement that asks for color, year, make, model and prints out the results</p>

### If Statements

In [ ]:
# Available operators: Greater(>), Less(<),Equal(==)
# Greater or Equal(>=), Less or Equal (<=)

name = 'Dylan'

if name == 'Dylan':
    print("Don't let that guy in... he is too cool")

else:
    print('That guy is also cool....but not THAT cool')

if 'y' in name:
    print("kinda weird")

##### 'is' keyword - Checks if the value refers to the same object in memory, not if they equal each other

In [ ]:
num = ["apple", "banana", "cherry"]

x = ["apple", "banana", "cherry"]

print(num is x)

##### 'in' keyword = used to check if a value is present in a sequence

In [ ]:
name = 'Dylan'

if 'y' in name:
    print('y in there')
else:
    print('y not in there')

##### 'not in' keyword'

In [ ]:
name = 'Christian'

if 'y' not in name:
    print('y not in there')
else:
    print('y in there')

# In-Class Exercise 2 <br>
<p>Ask user for input, check to see if the letter 'p' is in the input</p>

In [6]:
name = input('What is your name? ')

for letter in name:
    if letter == 'p':
        print('p in there')
        break
else:
    print('p not in there')#%% md
# Week 2 - Monday Lesson (variable assignment, loops, lists)

p in there

## Tasks Today:

1) Int & Float assignments <br>
 &nbsp;&nbsp;&nbsp;&nbsp; a) Assigning int <br>
 &nbsp;&nbsp;&nbsp;&nbsp; b) Assigning float <br>
 &nbsp;&nbsp;&nbsp;&nbsp; c) Performing Calculations on ints and floats <br>
 &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; - Addition <br>
 &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; - Subtraction <br>
 &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; - Multiplication <br>
 &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; - Division <br>
 &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; - Floor Division <br>
 &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; - Modulo <br>
 &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; - Exponential <br>
2) String Input-Output <br>
 &nbsp;&nbsp;&nbsp;&nbsp; a) String Assignment <br>
 &nbsp;&nbsp;&nbsp;&nbsp; b) print() <br>
 &nbsp;&nbsp;&nbsp;&nbsp; c) String Concatenation <br>
 &nbsp;&nbsp;&nbsp;&nbsp; d) Type Conversion <br>
 &nbsp;&nbsp;&nbsp;&nbsp; e) input() <br>
 &nbsp;&nbsp;&nbsp;&nbsp; f) format() <br>
 &nbsp;&nbsp;&nbsp;&nbsp; g) Old Way (python 2) <br>
3) <b>In-Class Exercise #1</b> <br>
4) If Statements <br>
 &nbsp;&nbsp;&nbsp;&nbsp; a) 'is' keyword <br>
 &nbsp;&nbsp;&nbsp;&nbsp; b) 'in' keyword <br>
 &nbsp;&nbsp;&nbsp;&nbsp; c) 'not in' keyword <br>
5) <b>In-Class Exercise #2</b> <br>
6) Elif Statements <br>
7) Else Statements <br>
8) <b>In-Class Exercise #3</b> <br>
9) For Loops <br>
 &nbsp;&nbsp;&nbsp;&nbsp; a) Using 'in' keyword <br>
 &nbsp;&nbsp;&nbsp;&nbsp; b) Continue Statement <br>
 &nbsp;&nbsp;&nbsp;&nbsp; c) Break Statement <br>
 &nbsp;&nbsp;&nbsp;&nbsp; d) Pass Statement <br>
 &nbsp;&nbsp;&nbsp;&nbsp; e) Double For Loops <br>
10) While Loops <br>
 &nbsp;&nbsp;&nbsp;&nbsp; a) Looping 'While True' <br>
 &nbsp;&nbsp;&nbsp;&nbsp; b) While and For Loops Used Together <br>
11) Built-In Functions <br>
 &nbsp;&nbsp;&nbsp;&nbsp; a) range() <br>
 &nbsp;&nbsp;&nbsp;&nbsp; b) len() <br>
 &nbsp;&nbsp;&nbsp;&nbsp; c) help() <br>
 &nbsp;&nbsp;&nbsp;&nbsp; d) isinstance() <br>
 &nbsp;&nbsp;&nbsp;&nbsp; e) abs() <br>
12) Try and Except <br>
13) Lists <br>
 &nbsp;&nbsp;&nbsp;&nbsp; a) Declaring Lists <br>
 &nbsp;&nbsp;&nbsp;&nbsp; b) Indexing a List <br>
 &nbsp;&nbsp;&nbsp;&nbsp; c) .append() <br>
 &nbsp;&nbsp;&nbsp;&nbsp; d) .insert() <br>
 &nbsp;&nbsp;&nbsp;&nbsp; e) .pop() <br>
 &nbsp;&nbsp;&nbsp;&nbsp; f) .remove() <br>
 &nbsp;&nbsp;&nbsp;&nbsp; g) del() <br>
 &nbsp;&nbsp;&nbsp;&nbsp; h) Concatenating Two Lists <br>
 &nbsp;&nbsp;&nbsp;&nbsp; i) Lists Within Lists <br>
 &nbsp;&nbsp;&nbsp;&nbsp; j) Looping Through Lists <br>

### Int & Float Assignments

##### Assigning int - Integer types are whole numbers

In [ ]:
num = 4
print(type(num))

##### Assinging float - Float types are decimals

In [ ]:
afloat = 4.0
print(type(afloat))

#### Performing Calculations on ints and floats

##### Addition (+)

In [ ]:
total = 5 + 10
print(total)

num1 =5
num2 = 6

total = num1 + num2
print(total)

total = 5 + 10.0
print(total)


total += 5 # total = total + 5
print(total)

##### Subtraction (-)

In [ ]:
diff = 10 - 5
print(diff)

diff = 10 - 5.0
print(diff)

diff -= 2
print(diff)

##### Multiplication (*)

In [ ]:
prod = 11 * 2
print(prod)

prod *= 3.4
print(int(prod))

##### Division (/)

In [ ]:
quot = 15 / 3
print(quot)

quot /= 5
print(quot)

##### Floor Division (//) - Normal division but returns the largest possible integer

In [ ]:
quot = 19 // 2
print(quot)

##### Modulo (%) - Returns the remainder of division

In [ ]:
remainder = 10 % 2
print(remainder)

##### Exponential (**)

In [ ]:
square = 5**2
print(square)

sqroot = 25**.5
print(sqroot)

### String Input-Output

##### String Assignment

In [ ]:
name = "Dylan's"

print(name)

last = 'Katina\\ns'
print(last)

##### print() <br>
<p>Don't forget about end=' '</p>

In [ ]:
print("this is a line")
print("this is another line")

##### String Concatenation

In [ ]:
aword = 'hello'
bword = 'there'

total = aword + ' ' + bword
print(total)

repeat = 'hello'*3
print(repeat)

##### Type Conversion

In [ ]:
string_num = 'onetwothree'
print(type(string_num))
num = int(string_num)
print(type(num))
afloat = float(string_num)
print(type(afloat))

##### input()

In [ ]:
# name = input("Whate is your name: ")
# print('Hello ' + name)
age = int(input("How old are you? "))
print(type(age))
# print("You are " + age + ' that awesome!')

##### format()

In [ ]:
age = input("How old are you? ")
name = 'Dylan'

# result = "Wow {}, your are {}, that's awesome!".format(age, name)
# print(result)

result = f"Wow {name}, your are {age}, that's awesome!"
print(result)

# In-Class Exercise 1 <br>
<p>Create a format statement that asks for color, year, make, model and prints out the results</p>

### If Statements

In [ ]:
# Available operators: Greater(>), Less(<),Equal(==)
# Greater or Equal(>=), Less or Equal (<=)

name = 'Dylan'

if name == 'Dylan':
    print("Don't let that guy in... he is too cool")

else:
    print('That guy is also cool....but not THAT cool')

if 'y' in name:
    print("kinda weird")

##### 'is' keyword - Checks if the value refers to the same object in memory, not if they equal each other

In [ ]:
num = ["apple", "banana", "cherry"]

x = ["apple", "banana", "cherry"]

print(num is x)

##### 'in' keyword = used to check if a value is present in a sequence

In [ ]:
name = 'Dylan'

if 'y' in name:
    print('y in there')
else:
    print('y not in there')

##### 'not in' keyword'

In [ ]:
name = 'Christian'

if 'y' not in name:
    print('y not in there')
else:
    print('y in there')

# In-Class Exercise 2 <br>
<p>Ask user for input, check to see if the letter 'p' is in the input</p>

In [ ]:
name = input('What is your name? ')

if 'p' in name:
    print('p in there')
else:
    print('p not in there')

    for letter in name:
        if letter == 'p':
            print('p in there')
        else:
            print('p not in there')

## Using 'and'/'or' with If Statements

In [ ]:
# Truth Tree:
# T and F = F
# T and T = T
# T or F = T
# F or T = T
# F or F = F
dylan = 'Margherita'
christian = 'Supreme'

if dylan == 'Margherita' or christian == 'Cheese':
    print('Everything is right in the world')
else:
    print('Somthins up!!!')

### Elif Statements

In [ ]:
#additional condition should the if not pass

### Else Statements

In [ ]:
#catch all, if no conditions pass

### For Loops

In [ ]:
name = "Dylan"

count = 0

for letter in name:
    #alot more logic
    count += 1

print(count)

##### Continue Statement

In [ ]:
# will continue to next iteration
name = "Dylan"

count = 0

for letter in name:
    if letter == 'l':
        continue
    print(letter)

##### Break Statement

In [ ]:
# will break out of current loop

name = "Dylan"

count = 0

for letter in name:
    if letter == 'l':
        break
    print(letter)

##### Pass Statement

In [ ]:
# mostly used as a placeholder, and will continue on same iteration

for letter in name:
    pass

print(1+1)


def thisfunc():
    pass

def thatfunc():
    pass

def otherfunc():
    pass

##### Double For Loops

In [ ]:

names = ['Dylan', 'Oackland', ' Jake', 'Faith', 'Britt']



for name in names:
    print(name)
    for letter in name:
        print(letter)

### While Loops

In [ ]:
num = 0

while num <= 100:
    print(num)
    if num == 25:
        break

    num += 5

##### Looping 'While True'

In [ ]:

num = 0

while True:
    num += 1
    if num >= 10:
        break
    print(num)

##### While & For Loops Used Together

In [ ]:
christian = 'Christian'

count = 0

while christian == 'Christian':
    print('WOooow he\'s so coool, lets spell his name out')
    for letter in christian:
        print(letter.upper())

    count += 1
    if count >= 5:
        christian = 'Wow he turned on us, that\'s not the real Christian'

### Built-In Functions

##### range()

In [ ]:
this_range = range(10)

print(this_range)

for num in range(3,10,2):
    print(num)

##### len()

In [ ]:
name = ['12','235','3']
print(len(name))

##### help() -  used to display the documentation of modules, functions, classes, keywords, etc.

In [ ]:
help(len)

##### isinstance() - checks if the object is the type

In [ ]:
age = 12

# print(isinstance(age, int))


if isinstance(age,int):
    age+=1

print('happy bday ' + age)

##### abs() - returns the absolute value

In [ ]:
num = 2-5

print(num)

### Try and Except Blocks
#### try - lets you test a block of code for errors
#### except - lets you handle the error

In [ ]:


try:
    magic_number = 3
    guess = int(input('Guess a number?'))
    if guess == magic_number:
        print('Woooow you did it')
    else:
        print('WRONG')
except:
    print('Invalid guess, please use integers only dumby')

### Lists

##### Declaring Lists

In [ ]:
stus = [ 'Justin', 'Jennifer', 'Deven', 'Mitchell']

print(type(stus))

##### Indexing a List

In [ ]:

#          0           1           2         3
stus = [ 'Justin', 'Jennifer', 'Deven', 'Mitchell']
#                     -3             -2           -1

this_guy = stus[-2]
print(this_guy)

##### .append()

In [ ]:
#adding to list

stus.append('Marcos')
print(stus)

##### .insert()

In [ ]:
stus.insert(1, "Me")

print(stus)

##### .pop()

In [ ]:
popped = stus.pop()
print(popped)
print(stus)


##### .remove() - removes element in a list, does not remove duplicates

In [ ]:
print(stus)

stus.remove('Me')

print(stus)

##### del()

In [ ]:
del(stus[1])
print(stus)

##### Concatenating Two Lists

In [ ]:
l1 = ['Christian', 'Dylan']
l2 = ['Sam', 'Omar']

larger_list = l1 + l2
print(larger_list)

##### Lists Within Lists

In [ ]:
roster = ['Jake', 'Britt', 'Mitchell' , 'Oackland']
print(roster)

##### Looping Through Lists

In [ ]:

for student in roster:
    print(student)

## Exercise #1 <br>
<p>Cube Number Test... Print out all cubed numbers up to the total value 1000. Meaning that if the cubed number is over 1000 break the loop.</p>

In [ ]:
x = 1000
 do while x == true
    for x in i

## Exercise #2 <br>
<p>Get first prime numbers up to 100</p>

In [ ]:
# HINT::
# An else after an if runs if the if didn’t
# An else after a for runs if the for didn’t break

# Exercise 3 <br>
<p>Take in a users input for their age, if they are younger than 18 print kids, if they're 18 to 65 print adults, else print seniors</p>

## Using 'and'/'or' with If Statements

In [ ]:
# Truth Tree:
# T and F = F
# T and T = T
# T or F = T
# F or T = T
# F or F = F
dylan = 'Margherita'
christian = 'Supreme'

if dylan == 'Margherita' or christian == 'Cheese':
    print('Everything is right in the world')
else:
    print('Somthins up!!!')

### Elif Statements

In [ ]:
#additional condition should the if not pass

### Else Statements

In [ ]:
#catch all, if no conditions pass

### For Loops

In [ ]:
name = "Dylan"

count = 0

for letter in name:
    #alot more logic
    count += 1

print(count)

##### Continue Statement

In [ ]:
# will continue to next iteration
name = "Dylan"

count = 0

for letter in name:
    if letter == 'l':
        continue
    print(letter)

##### Break Statement

In [ ]:
# will break out of current loop

name = "Dylan"

count = 0

for letter in name:
    if letter == 'l':
        break
    print(letter)

##### Pass Statement

In [ ]:
# mostly used as a placeholder, and will continue on same iteration

for letter in name:
    pass

print(1+1)


def thisfunc():
    pass

def thatfunc():
    pass

def otherfunc():
    pass

##### Double For Loops

In [ ]:

names = ['Dylan', 'Oackland', ' Jake', 'Faith', 'Britt']



for name in names:
    print(name)
    for letter in name:
        print(letter)

### While Loops

In [ ]:
num = 0

while num <= 100:
    print(num)
    if num == 25:
        break

    num += 5

##### Looping 'While True'

In [ ]:

num = 0

while True:
    num += 1
    if num >= 10:
        break
    print(num)

##### While & For Loops Used Together

In [7]:
christian = 'Christian'

count = 0

while christian == 'Christian':
    print('WOooow he\'s so coool, lets spell his name out')
    for letter in christian:
        print(letter.upper())

    count += 1
    if count >= 5:
        christian = 'Wow he turned on us, that\'s not the real Christian'

WOooow he's so coool, lets spell his name out
C
H
R
I
S
T
I
A
N
WOooow he's so coool, lets spell his name out
C
H
R
I
S
T
I
A
N
WOooow he's so coool, lets spell his name out
C
H
R
I
S
T
I
A
N
WOooow he's so coool, lets spell his name out
C
H
R
I
S
T
I
A
N
WOooow he's so coool, lets spell his name out
C
H
R
I
S
T
I
A
N

### Built-In Functions

##### range()

In [ ]:
this_range = range(10)

print(this_range)

for num in range(3,10,2):
    print(num)

##### len()

In [ ]:
name = ['12','235','3']
print(len(name))

##### help() -  used to display the documentation of modules, functions, classes, keywords, etc.

In [ ]:
help(len)

##### isinstance() - checks if the object is the type

In [ ]:
age = 12

# print(isinstance(age, int))


if isinstance(age,int):
    age+=1

print('happy bday ' + age)

##### abs() - returns the absolute value

In [ ]:
num = 2-5

print(num)

### Try and Except Blocks
#### try - lets you test a block of code for errors
#### except - lets you handle the error

In [ ]:


try:
    magic_number = 3
    guess = int(input('Guess a number?'))
    if guess == magic_number:
        print('Woooow you did it')
    else:
        print('WRONG')
except:
    print('Invalid guess, please use integers only dumby')

### Lists

##### Declaring Lists

In [ ]:
stus = [ 'Justin', 'Jennifer', 'Deven', 'Mitchell']

print(type(stus))

##### Indexing a List

In [ ]:

#          0           1           2         3
stus = [ 'Justin', 'Jennifer', 'Deven', 'Mitchell']
#                     -3             -2           -1

this_guy = stus[-2]
print(this_guy)

##### .append()

In [ ]:
#adding to list

stus.append('Marcos')
print(stus)

##### .insert()

In [ ]:
stus.insert(1, "Me")

print(stus)

##### .pop()

In [ ]:
popped = stus.pop()
print(popped)
print(stus)


##### .remove() - removes element in a list, does not remove duplicates

In [ ]:
print(stus)

stus.remove('Me')

print(stus)

##### del()

In [ ]:
del(stus[1])
print(stus)

##### Concatenating Two Lists

In [ ]:
l1 = ['Christian', 'Dylan']
l2 = ['Sam', 'Omar']

larger_list = l1 + l2
print(larger_list)

##### Lists Within Lists

In [ ]:
roster = ['Jake', 'Britt', 'Mitchell' , 'Oackland']
print(roster)

##### Looping Through Lists

In [ ]:

for student in roster:
    print(student)

## Exercise #1 <br>
<p>Cube Number Test... Print out all cubed numbers up to the total value 1000. Meaning that if the cubed number is over 1000 break the loop.</p>

In [ ]:
cube = 1000
count = 0
while cube == 1000:
    print(count)
    count += 1
    if count >= 1000:
        cube = 'I am the cube number 1000'
        print(cube)

## Exercise #2 <br>
<p>Get first prime numbers up to 100</p>

In [17]:
def is_p(num):
    if num < 2:
        return False
    for i in range(2, int(num**0.5) + 1):
        if num % i == 0:
            return False
    return True
prime_n = []
for n in range(2, 101):
    if is_p(n):
        prime_n.append(n)
print(prime_n)

[2, 3, 5, 7, 11, 13, 17, 19, 23, 29, 31, 37, 41, 43, 47, 53, 59, 61, 67, 71, 73, 79, 83, 89, 97]

# Exercise 3 <br>
<p>Take in a users input for their age, if they are younger than 18 print kids, if they're 18 to 65 print adults, else print seniors</p>

In [31]:
a= int(input("What's your age?"))

if a < 18:
    print('kids')
elif a > 66:
    print('seniors')
else:
    print('adults')

adults